# input from many sources
- https://towardsdatascience.com/become-a-pandas-power-user-with-these-display-customizations-6d3a5a5885c1
- https://towardsdatascience.com/10-python-pandas-tricks-to-make-data-analysis-more-enjoyable-cb8f55af8c30

In [1]:
import os
import platform
from platform import python_version
import jupyterlab
import pandas as pd
import random
print("System")
print("os name: %s" % os.name)
print("system: %s" % platform.system())
print("release: %s" % platform.release())
print()
print("Python")
print("version: %s" % python_version())
print()
print("Python Packages")
print("jupterlab==%s" % jupyterlab.__version__)
print("pandas==%s" % pd.__version__)
seed = 42
random.seed(seed)
pd.np.random.seed(seed)

System
os name: posix
system: Darwin
release: 19.3.0

Python
version: 3.6.10

Python Packages
jupterlab==1.0.2
pandas==1.0.1

/Users/tomas/miniconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:20: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

In [2]:
pd.options.display.max_columns = 50  # None -> No Restrictions
pd.options.display.max_rows = 10    # None -> Be careful with this 
pd.options.display.max_colwidth = 100
pd.options.display.precision = 3
pd.set_option('precision',3)

In [92]:
def generate_sentence(n_chars=200):
    return ''.join(random.choice('abcdefg ') for _ in range(n_chars))
n = 10
df = pd.DataFrame(
    {
        "col1": pd.np.random.random_sample(n)-0.5,
        "text": [generate_sentence() for _ in range(n)]
    }
)
df.shape

/Users/tomas/miniconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

(10, 2)

In [93]:
df

,col1,text
0,0.0515878725,bg ca fbeefggbgg gabfaedeabacgff ge fggf dc ebafagfacddaegcbe agbgfd dafdeca bgcdagbfa baggbgadg afaebb gdbeg aga egbccda e ced fgggc ecdaa bfe ffabddg cbbfg beaccegebd bgfaecdbfgd bdbbfbbdgaae ae
1,-0.3351657389,geeeafbfbdec bbcgaagagbeebgggbb cecag aaffceae f ceaadadbfbgb fgccee gebefdcfbabacgddecc afecgcdffedeecbdabbff gebfbdffdcd fad db fcfcdcedecbdf gfgca ddfaageffaecea cgcff cd agcf dgaaffccgcdbg fab
2,-0.0887448834,bfdc adebe fggd bd aafdcbccdgf fd geefbcfgcccadegeecgbda bgagdefbagdccbgcgaec f badgdafgfgcfagebcdfcagabba becdgadgafeeed cbdcg gddbbaededa fgecbbab e cbdbbcgf egadacdbcb b aecdc fbbfcagdaebgfc cg
3,0.2776022837,bbafdbaab cfbdgccdabd acabeabeggbdga c caefaagdfdddfabgcgcfbaeegb dafbfbddcag dacea ebdfggfddadgdf eddbfaaaebgcg fabegdbegfaadeffegecabbacdcabgfbagab fa fbcg faegbgccedgfg cacae badgfde gebeec b efd
4,-0.0196299181,befffaaacagfe dfgec cedgbaacefabege acdga eb agaccfcffdbdeb gccafeb feabgd afecb dddgbacgfgbcagegeg ge fgcfaefabedcf acgbacffbedcffcadcgfbbafcdafdag dadadeabg gcbbafa b af eefeagbed g dedbffg gf cgcg
5,0.4852860507,dc dced adbafggfbebdeda gdc gbgafbb acecdgd ed dabdbedebdf bgcgbbbe gca de dfebeffge dbbgfcggd aaeddabef bgfgaaebaceegccgb dega dgdbedbbd ccdaefadadebbge gec dgbdd cc bbffdcfdacbdg bgaddeb gac ea cg
6,-0.1232610301,ebafadbg bcd dfdacc begfdfdgcdca cegbbfgcdag abeg abebcaee bcadgce efgcd gb dc gagdfbdgagf ebgedggdd fgbefdf fcefdgbd eecdgaeceefacfg acb cfbgbad gdceadaed ebcgagffbagb a ddbdceac fecfabgf fff egd
7,0.2495783000,cba afgaff debagaaggbgbfdb ggaceefg bbeddg f ffegagdecgafddcegggab faebeadgde efbcgbd accdaeedbcbdeff aa cfgg cdagdgf d bfbaebdg g fdcceg d bg ff bcaefeaceedcg gebdgg egga gdbebdfaeaeee ec a cfeefc
8,-0.1070105510,gbafe c ea fbdbegad cadfgbaf a fabddcfg egdb bgcgg gbgddgdbdadcgcegeaeggfe afdgeedefebcb gcaabcdecaacafdgfaefgggaabcddbfceaebf fec ggbc ddddfgecabeef ggbgcfagebadbeb dcgfcdegffegbcadeg cgeeabcbe
9,0.3291642207,dfdfecfgcga bde fbdea ebfafceaffegfbcagagbbf d cfdadbfegedeecafeaacdbfa dafdaadedccgcaffffgce fgf dddedbafbf caf cd dabgfega efgcfg adc b f faaca fcaega edagee dcaceeea db babbcadg cbgecgbggge ba d

## Suppress scientific notation

In [94]:
df.iloc[0, 0] = 1e-10
df.head()

,col1,text
0,0.0000000001,bg ca fbeefggbgg gabfaedeabacgff ge fggf dc ebafagfacddaegcbe agbgfd dafdeca bgcdagbfa baggbgadg afaebb gdbeg aga egbccda e ced fgggc ecdaa bfe ffabddg cbbfg beaccegebd bgfaecdbfgd bdbbfbbdgaae ae
1,-0.3351657389,geeeafbfbdec bbcgaagagbeebgggbb cecag aaffceae f ceaadadbfbgb fgccee gebefdcfbabacgddecc afecgcdffedeecbdabbff gebfbdffdcd fad db fcfcdcedecbdf gfgca ddfaageffaecea cgcff cd agcf dgaaffccgcdbg fab
2,-0.0887448834,bfdc adebe fggd bd aafdcbccdgf fd geefbcfgcccadegeecgbda bgagdefbagdccbgcgaec f badgdafgfgcfagebcdfcagabba becdgadgafeeed cbdcg gddbbaededa fgecbbab e cbdbbcgf egadacdbcb b aecdc fbbfcagdaebgfc cg
3,0.2776022837,bbafdbaab cfbdgccdabd acabeabeggbdga c caefaagdfdddfabgcgcfbaeegb dafbfbddcag dacea ebdfggfddadgdf eddbfaaaebgcg fabegdbegfaadeffegecabbacdcabgfbagab fa fbcg faegbgccedgfg cacae badgfde gebeec b efd
4,-0.0196299181,befffaaacagfe dfgec cedgbaacefabege acdga eb agaccfcffdbdeb gccafeb feabgd afecb dddgbacgfgbcagegeg ge fgcfaefabedcf acgbacffbedcffcadcgfbbafcdafdag dadadeabg gcbbafa b af eefeagbed g dedbffg gf cgcg

In [95]:
pd.options.display.float_format = '{:,.10f}'.format
df.head()

# use the following to switch back to scifi notation
# pd.reset_option('display.float_format')

,col1,text
0,0.0000000001,bg ca fbeefggbgg gabfaedeabacgff ge fggf dc ebafagfacddaegcbe agbgfd dafdeca bgcdagbfa baggbgadg afaebb gdbeg aga egbccda e ced fgggc ecdaa bfe ffabddg cbbfg beaccegebd bgfaecdbfgd bdbbfbbdgaae ae
1,-0.3351657389,geeeafbfbdec bbcgaagagbeebgggbb cecag aaffceae f ceaadadbfbgb fgccee gebefdcfbabacgddecc afecgcdffedeecbdabbff gebfbdffdcd fad db fcfcdcedecbdf gfgca ddfaageffaecea cgcff cd agcf dgaaffccgcdbg fab
2,-0.0887448834,bfdc adebe fggd bd aafdcbccdgf fd geefbcfgcccadegeecgbda bgagdefbagdccbgcgaec f badgdafgfgcfagebcdfcagabba becdgadgafeeed cbdcg gddbbaededa fgecbbab e cbdbbcgf egadacdbcb b aecdc fbbfcagdaebgfc cg
3,0.2776022837,bbafdbaab cfbdgccdabd acabeabeggbdga c caefaagdfdddfabgcgcfbaeegb dafbfbddcag dacea ebdfggfddadgdf eddbfaaaebgcg fabegdbegfaadeffegecabbacdcabgfbagab fa fbcg faegbgccedgfg cacae badgfde gebeec b efd
4,-0.0196299181,befffaaacagfe dfgec cedgbaacefabege acdga eb agaccfcffdbdeb gccafeb feabgd afecb dddgbacgfgbcagegeg ge fgcfaefabedcf acgbacffbedcffcadcgfbbafcdafdag dadadeabg gcbbafa b af eefeagbed g dedbffg gf cgcg

## Max columns/rows to display

In [96]:
print('We are currently using max columns = {}'.format(pd.get_option('display.max_columns')))
pd.set_option("display.max_columns", 100)
print('Updated max columns to {}'.format(pd.get_option('display.max_columns')))

We are currently using max columns = 100
Updated max columns to 100

## Expand the column width

In [97]:
pd.set_option('max_colwidth', 500)
df

,col1,text
0,0.0000000001,bg ca fbeefggbgg gabfaedeabacgff ge fggf dc ebafagfacddaegcbe agbgfd dafdeca bgcdagbfa baggbgadg afaebb gdbeg aga egbccda e ced fgggc ecdaa bfe ffabddg cbbfg beaccegebd bgfaecdbfgd bdbbfbbdgaae ae
1,-0.3351657389,geeeafbfbdec bbcgaagagbeebgggbb cecag aaffceae f ceaadadbfbgb fgccee gebefdcfbabacgddecc afecgcdffedeecbdabbff gebfbdffdcd fad db fcfcdcedecbdf gfgca ddfaageffaecea cgcff cd agcf dgaaffccgcdbg fab
2,-0.0887448834,bfdc adebe fggd bd aafdcbccdgf fd geefbcfgcccadegeecgbda bgagdefbagdccbgcgaec f badgdafgfgcfagebcdfcagabba becdgadgafeeed cbdcg gddbbaededa fgecbbab e cbdbbcgf egadacdbcb b aecdc fbbfcagdaebgfc cg
3,0.2776022837,bbafdbaab cfbdgccdabd acabeabeggbdga c caefaagdfdddfabgcgcfbaeegb dafbfbddcag dacea ebdfggfddadgdf eddbfaaaebgcg fabegdbegfaadeffegecabbacdcabgfbagab fa fbcg faegbgccedgfg cacae badgfde gebeec b efd
4,-0.0196299181,befffaaacagfe dfgec cedgbaacefabege acdga eb agaccfcffdbdeb gccafeb feabgd afecb dddgbacgfgbcagegeg ge fgcfaefabedcf acgbacffbedcffcadcgfbbafcdafdag dadadeabg gcbbafa b af eefeagbed g dedbffg gf cgcg
5,0.4852860507,dc dced adbafggfbebdeda gdc gbgafbb acecdgd ed dabdbedebdf bgcgbbbe gca de dfebeffge dbbgfcggd aaeddabef bgfgaaebaceegccgb dega dgdbedbbd ccdaefadadebbge gec dgbdd cc bbffdcfdacbdg bgaddeb gac ea cg
6,-0.1232610301,ebafadbg bcd dfdacc begfdfdgcdca cegbbfgcdag abeg abebcaee bcadgce efgcd gb dc gagdfbdgagf ebgedggdd fgbefdf fcefdgbd eecdgaeceefacfg acb cfbgbad gdceadaed ebcgagffbagb a ddbdceac fecfabgf fff egd
7,0.2495783000,cba afgaff debagaaggbgbfdb ggaceefg bbeddg f ffegagdecgafddcegggab faebeadgde efbcgbd accdaeedbcbdeff aa cfgg cdagdgf d bfbaebdg g fdcceg d bg ff bcaefeaceedcg gebdgg egga gdbebdfaeaeee ec a cfeefc
8,-0.1070105510,gbafe c ea fbdbegad cadfgbaf a fabddcfg egdb bgcgg gbgddgdbdadcgcegeaeggfe afdgeedefebcb gcaabcdecaacafdgfaefgggaabcddbfceaebf fec ggbc ddddfgecabeef ggbgcfagebadbeb dcgfcdegffegbcadeg cgeeabcbe
9,0.3291642207,dfdfecfgcga bde fbdea ebfafceaffegfbcagagbbf d cfdadbfegedeecafeaacdbfa dafdaadedccgcaffffgce fgf dddedbafbf caf cd dabgfega efgcfg adc b f faaca fcaega edagee dcaceeea db babbcadg cbgecgbggge ba d

## df info

In [98]:
pd.set_option('large_repr', 'info')

display(df.info)
pd.reset_option('large_repr') # reset it

<bound method DataFrame.info of <class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    10 non-null     float64
 1   text    10 non-null     object
dtypes: float64(1), object(1)
memory usage: 288.0+ bytes
>

## Coloring and highlighting

In [99]:
from pandas.api.types import is_numeric_dtype

def color_negative_red(val):
    if (isinstance(val, (int, float, complex))):
        color = 'red' if(val<0) else 'black'
    else:
        color = 'black'
    return 'color: %s' % color

df.style.applymap(color_negative_red)

In [100]:
df.style.set_table_styles(
[{'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}]
)

## test df

In [26]:
from pandas import util
df= util.testing.makeMixedDataFrame()
df.head()

             A            B     C          D
0 0.0000000000 0.0000000000  foo1 2009-01-01
1 1.0000000000 1.0000000000  foo2 2009-01-02
2 2.0000000000 0.0000000000  foo3 2009-01-05
3 3.0000000000 1.0000000000  foo4 2009-01-06
4 4.0000000000 0.0000000000  foo5 2009-01-07

In [32]:
df['cat']=df.col1.apply(lambda x: 'A' if x < 0 else ('B' if x<0.1 else 'C' ))

In [91]:
(df
 .groupby('cat')
 .agg({'col1':['mean','sum']})
 .xs('col1', axis=1, drop_level=True)
 .eval('Y=mean+88')
)

#eval('mean/sum')

             mean            sum             Y
cat
A   -0.2363530756 -12.2903599298 87.7636469244
B    0.0581277726   0.5231499536 88.0581277726
C    0.3254990079  12.6944613100 88.3254990079

In [66]:
A=A.xs('col1', axis=1, drop_level=True)
A.eval('W=mean+sum')

             mean            sum
cat
A   -0.2363530756 -12.2903599298
B    0.0581277726   0.5231499536
C    0.3254990079  12.6944613100

In [68]:
A['d']=A['mean']+A['sum']

/Users/tomas/miniconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [69]:
A

             mean            sum              d
cat
A   -0.2363530756 -12.2903599298 -12.5267130054
B    0.0581277726   0.5231499536   0.5812777262
C    0.3254990079  12.6944613100  13.0199603179

In [101]:
!pwd

/Users/tomas/OneDrive - C Finance Oy/analytics/pandas_customizations