# input from many sources
- https://towardsdatascience.com/become-a-pandas-power-user-with-these-display-customizations-6d3a5a5885c1

In [1]:
import os
import platform
from platform import python_version
import jupyterlab
import pandas as pd
import random
print("System")
print("os name: %s" % os.name)
print("system: %s" % platform.system())
print("release: %s" % platform.release())
print()
print("Python")
print("version: %s" % python_version())
print()
print("Python Packages")
print("jupterlab==%s" % jupyterlab.__version__)
print("pandas==%s" % pd.__version__)
seed = 42
random.seed(seed)
pd.np.random.seed(seed)

System
os name: posix
system: Darwin
release: 19.3.0

Python
version: 3.6.10

Python Packages
jupterlab==1.0.2
pandas==1.0.1

/Users/tomas/miniconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:20: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

In [2]:
def generate_sentence(n_chars=200):
    return ''.join(random.choice('abcdefg ') for _ in range(n_chars))
n = 100
df = pd.DataFrame(
    {
        "col1": pd.np.random.random_sample(n),
        "text": [generate_sentence() for _ in range(n)]
    }
)
df.shape

/Users/tomas/miniconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

(100, 2)

In [3]:
df

        col1                                               text
0   0.374540  baeddcbbgaabddadgd eacgfecdfbbgbffea bgbefdbad...
1   0.950714  aabdcg  dgacgage eg cdedaafaa cabcbbdgbdabgfed...
2   0.731994  befbdeddcaad b gdg gdcabgdc adb c f g c  ede d...
3   0.598658  bedgdef fgff eeedbdfbcdd eebdedfceaceaaec bae ...
4   0.156019  eaee c  ffg fddgdgaf ggc acfb b acgcb efgbfgf ...
..       ...                                                ...
95  0.493796  fdfegeafbadac daec gdgcbeee bdfdagag geacce ef...
96  0.522733  d bda ccbbdga bg ccbaefegb bcb a eedgacdeeccfc...
97  0.427541  aaaeddgbbd bbbfbfefcecadeabfdfdegga fgeeegg ca...
98  0.025419  e eccdfedeaeggcbcbfgefcfecageebbb dbc dagdedfe...
99  0.107891  fabgecgba addfaecedbdceebdaaebgbafdacbfbg fgeg...

[100 rows x 2 columns]

## Suppress scientific notation

In [4]:
df.iloc[0, 0] = 1e-10
df.head()

           col1                                               text
0  1.000000e-10  baeddcbbgaabddadgd eacgfecdfbbgbffea bgbefdbad...
1  9.507143e-01  aabdcg  dgacgage eg cdedaafaa cabcbbdgbdabgfed...
2  7.319939e-01  befbdeddcaad b gdg gdcabgdc adb c f g c  ede d...
3  5.986585e-01  bedgdef fgff eeedbdfbcdd eebdedfceaceaaec bae ...
4  1.560186e-01  eaee c  ffg fddgdgaf ggc acfb b acgcb efgbfgf ...

In [6]:
pd.options.display.float_format = '{:,.10f}'.format
df.head()

# use the following to switch back to scifi notation
# pd.reset_option('display.float_format')

          col1                                               text
0 0.0000000001  baeddcbbgaabddadgd eacgfecdfbbgbffea bgbefdbad...
1 0.9507143064  aabdcg  dgacgage eg cdedaafaa cabcbbdgbdabgfed...
2 0.7319939418  befbdeddcaad b gdg gdcabgdc adb c f g c  ede d...
3 0.5986584842  bedgdef fgff eeedbdfbcdd eebdedfceaceaaec bae ...
4 0.1560186404  eaee c  ffg fddgdgaf ggc acfb b acgcb efgbfgf ...

## Max columns/rows to display

In [9]:
print('We are currently using max columns = {}'.format(pd.get_option('display.max_columns')))
pd.set_option("display.max_columns", 100)
print('Updated max columns to {}'.format(pd.get_option('display.max_columns')))

We are currently using max columns = 100
Updated max columns to 100

## Expand the column width

In [11]:
pd.set_option('max_colwidth', 500)
df

,col1,text
0,0.0000000001,baeddcbbgaabddadgd eacgfecdfbbgbffea bgbefdbadebdbge fcffdebcdc gedfadafgebdfd g cecdeggfdc babccgbgg eabefbegc aecbedcfcaf abfedadbb bcc cegddegf bddbfaddabadbafbde dc d gdbbgfgg abagfbddd cgce db b
1,0.9507143064,aabdcg dgacgage eg cdedaafaa cabcbbdgbdabgfedfdegce fba bbdecfbdfec eaebcebbceedfde eabgeaafcec gabbcafcgcaefafddbfgcdccgacfgdecbga dd feddadgfebefgfabeceabgffgbgdeagadfgbffbeegfgecdggcegaeedgf d c
2,0.7319939418,befbdeddcaad b gdg gdcabgdc adb c f g c ede de bedeffbccdgcdbggf gadggag afeggd deg agfgc cagabgc caegfd ffgegeb aafdbaaddacdc bd efcbcebaeggdbdbebafgfbfag bgf cgce gefdbe d gfa fc dfefeeadbdg d a
3,0.5986584842,bedgdef fgff eeedbdfbcdd eebdedfceaceaaec bae fcae bbg baccebdbgdg egeabddebcdcbcag eadee bdedgbdcecbacee b ege bagfeabdaeac ecg b fgffbcfg ega bfefbga gadf adece badceagbdb bc eeg d cgdcbegf
4,0.1560186404,eaee c ffg fddgdgaf ggc acfb b acgcb efgbfgf abdedbgbb ceaafaeffgcdgcccbgd cd e ea ecb fege edg bdgfeeageaa edfddecbae afcbefgcdcfece efb bcdgfbgaeb fegfbd afdb egbcaae bbdcg fgcgb geafd dfbffagedb
...,...,...
95,0.4937955964,fdfegeafbadac daec gdgcbeee bdfdagag geacce effbdf c b edagbbgeadedb d fdddge aebdaabfdgaccgcfecaebcdbaf caeebaa ebdcefdba ebcce a cgegdccfb ecceaedcgbbaadeggbgda acg cacaafdggcbfdgaaf faab dcfaa
96,0.5227328294,d bda ccbbdga bg ccbaefegb bcb a eedgacdeeccfcbgacfcdebcaee cgadcgffbdc gb eacefffbgacbbbfbcggege ggcd gaaee ead bba ecbgeaagdgcdfdeege acbdgfegccacbcd caffaddaaaagdeg dbaabbebgaabgcdc d agafebg egd
97,0.4275410184,aaaeddgbbd bbbfbfefcecadeabfdfdegga fgeeegg cabaceacbccd eacgcafb efc dfdgecdf aaebcbcfbbgbcffaegbaa cdaeggaabcdc babcdcgbfbcaefa ggfdeegaecc gdegabbfdaf de cedfgb gccfbc cg agggfgcceb g ee bcadfaagb
98,0.0254191267,e eccdfedeaeggcbcbfgefcfecageebbb dbc dagdedfecbegaggeafbbacbcfedebcdabgaegad cbgaadcadb abbeaade bdb b gabgcfaebe ffabbd fdfcba c a c ad bgbgab ccdge bd fda gbaceaff aaceedcdgccbgaggf eg ag fbgbdfcb
99,0.1078914270,fabgecgba addfaecedbdceebdaaebgbafdacbfbg fgegddfdebbafabe gec gbf dffbcb fbcdf bffecga cdgaceegfeg cafb ba da bfge d adb fedac ebef cgaccfeggc cea ggeca gdc bdfdg gcfcdg agaegdcaffdeafac dgbf geafd

## df info

In [14]:
pd.set_option('large_repr', 'info')

display(df.info)
pd.reset_option('large_repr') # reset it

<bound method DataFrame.info of <class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    100 non-null    float64
 1   text    100 non-null    object
dtypes: float64(1), object(1)
memory usage: 1.7+ KB
>